@page
@model ICBFApp.Pages.EPS.IndexModel
@{
}
<br />
<h2>Lista de EPS</h2>
<a class="btn btn-primary btn-sm" href="/EPS/Create">Nueva EPS</a>

<table class="table">
    <thead>
        <tr>
            <th>NIT</th>
            <th>Nombre</th>
            <th>Centro Médico</th>
            <th>Dirección Centro médico</th>
            <th>Teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listEps)
        {
            <tr>
                <td>@item.nit</td>
                <td>@item.nombre</td>
                <td>@item.centroMedico</td>
                <td>@item.direccion</td>
                <td>@item.telefono</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/EPS/Edit?id=@item.pkIdEps">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/EPS/Delete?id=@item.pkIdEps">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
