@page
@model ICBFApp.Pages.Jardin.EditModel
@{
}
<br />
<h2>Editar Jardín</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}


<form method="POST">
    <input type="text" class="form-control" name="id" value="@Model.jardinInfo.pkIdJardin" />
    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Nombre Jardin</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombre" value="@Model.jardinInfo.nombre">
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label">Dirección Jardin</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="direccion" value="@Model.jardinInfo.direccion">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-form-label-sm col-form-label" for="SelectedJardinId">Selecciona un jardín:</label>
        <div class="col-sm-6">
            <select name="estado" value="@Model.jardinInfo.estado" class="form-control">
                <option value=""> Selecciona un estado </option>
                <option value="Aprobado">Aprobado</option>
                <option value="En trámite">En trámite</option>
                <option value="Negado">Negado</option>
            </select>
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Editar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Jardin/Index" role="button">Cancelar</a>
        </div>
    </div>
</form>