@page
@model ICBFApp.Pages.Usuarios.EditModel
@{
    ViewData["Title"] = "Editar Usuario";
}

<h2>Editar Usuario</h2>

@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.errorMessage
    </div>
}

<form method="post">
    <input type="hidden" asp-for="usuarioInfo.pkIdUsuario" />

    <div class="form-group">
        <label>Identificación</label>
        <input type="text" class="form-control" asp-for="usuarioInfo.identificacion">
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" asp-for="usuarioInfo.nombre">
    </div>
    <div class="form-group">
        <label>Fecha de Nacimiento</label>
        <input type="date" class="form-control" asp-for="usuarioInfo.fechaNacimiento">
    </div>
    <div class="form-group">
        <label>Teléfono</label>
        <input type="text" class="form-control" asp-for="usuarioInfo.telefono">
    </div>
    <div class="form-group">
        <label>Correo</label>
        <input type="email" class="form-control" asp-for="usuarioInfo.correo">
    </div>
    <div class="form-group">
        <label>Dirección</label>
        <input type="text" class="form-control" asp-for="usuarioInfo.direccion">
    </div>
    <div class="form-group">
        <label>Rol</label>
        <select class="form-control" asp-for="usuarioInfo.fkIdRol">
            @foreach (var rol in Model.rolesInfo)
            {
                <option value="@rol.pkIdRol" selected="@((rol.pkIdRol == Model.usuarioInfo.fkIdRol))">@rol.tipo</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Tipo de Documento</label>
        <select class="form-control" asp-for="usuarioInfo.fkIdTipoDoc">
            @foreach (var tipoDoc in Model.tiposDocumentoInfo)
            {
                <option value="@tipoDoc.pkIdTipoDoc" selected="@((tipoDoc.pkIdTipoDoc == Model.usuarioInfo.fkIdTipoDoc))">@tipoDoc.tipo</option>
            }
        </select>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Guardar</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/Usuarios/Index" role="button">Cancelar</a>
        </div>
    </div>
</form>
