@page
@model ICBFApp.Pages.Usuarios.IndexModel
@{
    ViewData["Title"] = "Lista de Usuarios";
}

<br />
<h2>Lista de Usuarios</h2>
<a class="btn btn-primary btn-sm" href="/Usuarios/Create">Nuevo Usuario</a>

<table class="table">
    <thead>
        <tr>
            <th>Identificación</th>
            <th>Nombre</th>
            <th>Fecha de Nacimiento</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Dirección</th>
            <th>Rol</th>
            <th>Tipo de Documento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.listUsuarios)
        {
            <tr>
                <td>@item.identificacion</td>
                <td>@item.nombre</td>
                <td>@item.fechaNacimiento.ToShortDateString()</td>
                <td>@item.telefono</td>
                <td>@item.correo</td>
                <td>@item.direccion</td>
                <td>@item.nombre_rol</td>
                <td>@item.nombre_tipo_doc</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/Usuarios/Edit?id=@item.pkIdUsuario">Editar</a>
                    <a class="btn btn-danger btn-sm" href="/Usuarios/Delete?id=@item.pkIdUsuario">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
